{% extends 'main/parts/base.html' %}
{% load static %}

{% block content %}
    <div class="max-w-screen-xl mx-auto mt-32 px-4 md:px-10">
        <div class="md:grid md:grid-cols-[1fr_2fr]">
            <div class="w-80 h-96 min-h-80 bg-slate-50 shadow-2xl rounded-xl flex"> 
                <img src="{{ manga_info.cover }}" class="object-cover rounded-xl w-full h-full" alt="">
            </div>

            <div class="flex flex-col justify-center mt-5 md:mt-0">
                <div class="flex flex-col justify-center">
                    <h1 class="font-bold text-3xl ">{{title}}</h1>
                    <p class="mt-1 font-bold">Author: {{manga_info.author.0}}</p>
                    <p class="mb-6 font-bold">Chapters: {{ manga_info.chapter.chapter }}</p>
                    <p class="w-full font-serif text-gray-800">{{ manga_info.description.en }}</p>
                </div>
            </div>
        </div>

        <div class="mt-16 mb-20">
            <h1 class="font-bold text-2xl mb-3">Chapter List</h1>
            <div class="w-full bg-white shadow-md rounded-xl border max-h-96 overflow-y-auto">
                {% for chapter in chapters %}
                    <div class="w-full">
                        <a href="/chapter/{{ chapter.id }}/{{forloop.counter}}" class="w-full h-10 flex  hover:bg-gray-200 border-b-gray-300 font-bold flex-col justify-center">
                            <h1 class="ml-4">Chapter: {{chapter.attributes.chapter}}</h1>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}